* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  color: white;
}

:root {
  --primary-bg: #56c6d4;
  --orange: #fe980f;
}

/* ==================== header styles ==================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-bg);
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons i {
  font-size: 20px;
  cursor: pointer;
}

.icons i:hover {
  color: #ddd;
}

.icons #menu-icon {
  display: none;
}

/*=========== Mobile Navigation============ */
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background-color: var(--primary-bg);
  color: white;
  padding-top: 60px;
  transition: left 0.3s;
  z-index: 999;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
}

.mobile-nav ul li {
  padding: 10px 20px;
}

.mobile-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.mobile-nav ul li a:hover {
  text-decoration: underline;
}

.mobile-nav i#close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/*======================== Hero Section styles ============================ */
.hero {
  position: relative;
  background: url("../images/Liverpool\ Hero\ image.png") no-repeat center
    center/cover;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  width: 100%;
}

.hero-content {
  background-color: rgba(32, 165, 227, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.hero-content p {
  font-size: 24px;
  margin: 0 0 20px 0;
}

.hero-content button {
  background-color: #fe980f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.hero-content button:hover {
  background-color: #e68908;
}

/*======================== About Section styles ============================ */
.about-us {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.about-us p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  color: #666;
  line-height: 1.6;
}

/*======================== Marque Section styles ============================ */
.marquee {
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-bg);
  color: white;
  padding: 10px 0;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee-content span,
.latest-news span {
  font-size: 24px;
  padding: 0 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*======================== Products Section styles ============================ */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: #f9f9f9;
}

.product {
  width: 250px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0 0 0;
  font-size: 18px;
  color: #333;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*======================== Latest News Section styles ============================ */
.latest-news-header {
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-bg);
  color: white;
  padding: 10px 0;
  position: relative;
  text-align: center;
}

.posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--orange);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.post-content {
  margin-bottom: 20px;
}

.post-content p {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  margin: 0;
}

.post-image img {
  width: 100%;
  border-radius: 10px;
}

/* ====================== Footer Styles ==============================*/
.footer {
  background-color: var(--primary-bg);
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fe980f;
}

/* ===============================================
                Exculsive page styles
===========================================*/
.header-shape {
  width: 100%;
  height: 50vh;
  background-color: rgb(8, 8, 94);
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0 17%);
}

.footer-shape {
  width: 100%;
  height: 50vh;
  background-color: rgb(8, 8, 94);
  clip-path: polygon(0 17%, 100% 79%, 100% 100%, 0 100%);
}

.exclusive-bundles {
  text-align: center;
  padding: 40px 20px;
}

.exclusive-bundles h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--orange);
}

.bundles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.bundle-card {
  background-color: var(--orange);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.bundle-card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: var(--primary-bg);
}

.bundle-card h3 {
  font-size: 18px;
  margin: 5px 0;
  color: #fff;
  text-align: start;
}

.bundle-card .discount {
  font-size: 20px;
  color: #fff;
  margin: 0px 0;
}

.bundle-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.confirm-btn {
  background-color: var(--primary-bg);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

/* ===============================================
                checkout page styles
===========================================*/
.checkout {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.checkout-form,
.order-summary {
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.checkout-form {
  max-width: 600px;
}

.checkout-form h2,
.order-summary h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.checkout-form form {
  display: flex;
  flex-direction: column;
}

.checkout-form input {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(8, 8, 94);
  color: #fff;
  width: 80%;
}

.checkout-form button:hover {
  background-color: #45a4b1;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: rgb(8, 8, 94);
  color: #fff;
}

.summary {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.order-summary h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--orange);
  text-align: center;
}

.summary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.summary-item img {
  max-width: 40%;
  height: 20vh;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary-total p {
  font-size: 16px;
  margin: 5px 0;
}

.summary-total input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #56c6d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ===============================================
                Payment Methods page styles
===========================================*/
.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin: auto;
  padding: 40px 20px;
}

.payment-methods h2 {
  text-align: start;
  font-size: 28px;
  color: var(--orange);
}

.payment-options {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.payment-option {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #56c6d4;
  color: #333;
  padding: 5px 30px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.payment-option input {
  position: absolute;
  left: 5px;
  top: 8px;
  opacity: 1;
  cursor: pointer;
}

.payment-option span {
  display: inline-block;
}

.payment-option input:checked {
  background-color: #56c6d4;
  color: #ffffff;
  border-color: #45a4b1;
}

.payment-option:hover {
  background-color: #56c6d4;
  color: #ffffff;
  border-color: #45a4b1;
}
.card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.card-info input {
  width: 70%;
  background-color: #ffffff;
  border: 2px solid #56c6d4;
  color: #333;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 30px;
}

.input-row {
  display: flex;
  gap: 20px;
}

.input-row input {
  width: 30%;
}

/* ===============================================
              Login page styles
===========================================*/
.login-container {
  position: relative;
  width: 60%;
  height: 100vh;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-shape {
  top: 10px;
  right: -200px;
}

.background-shape1 {
  top: 200px;
  left: 100px;
}

.background-shape,
.background-shape1 {
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(135deg, orange, rgb(229, 156, 20));
  border-radius: 50%;
  z-index: 0;
}

.login-form {
  position: relative;
  z-index: 1;
}

.login-form h2 {
  text-align: start;
  margin-bottom: 40px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #56c6d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a4b1;
}

.forgot-password {
  display: block;
  text-align: end;
  margin-top: 10px;
  color: blue;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.signup-text a {
  color: blue;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
/* ====================== Responsive Styles ==============================*/
@media (max-width: 768px) {
  nav {
    display: none;
  }

  .icons #menu-icon {
    display: inline-block;
  }

  .icons {
    display: flex;
  }

  .marquee-content span,
  .latest-news span {
    font-size: 20px;
    padding: 0 50px;
  }

  .login-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .background-shape,
  .background-shape1 {
    position: absolute;
    width: 300px;
    height: 300px;
  }
}
